<template>
	<v-content>
		<v-card class="mt-2">
			<v-card-title class="text-center">
				{{ msg }}
			</v-card-title>
			<v-card-text>
				This is a simple Todo App to track your goals.
			</v-card-text>
		</v-card>
	</v-content>
</template>

<script>
export default {
	name: "About",
	data() {
		return {
			msg: "Welcome to My Todo App"
		};
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
	font-weight: normal;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline-block;
	margin: 0 10px;
}
a {
	color: #42b983;
}
</style>
