<template>
	<v-app-bar dark dense color="amber darken-2">
		<v-icon>menu</v-icon>
		<v-spacer></v-spacer>
		<v-toolbar-title class="headline">
			{{ title }}
		</v-toolbar-title>
	</v-app-bar>
</template>

<script>
export default {
	name: "NavBar",
	props: {
		title: {
			type: String,
			default: "Todo App"
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* .header {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        align-self: center;
    }
    .navbar {
        width: 100%;
        background: #e9a423;
        border-radius: 10px;
        height: 70px;
        display: flex;
        justify-content: center;
    } */
</style>
