<template>
	<div>
		<v-content>
			<v-container class="fill-height" fluid>
				<v-row>
					<v-flex md6>
						<h1 class="display-1">Today</h1>
						<h3>{{ today }}</h3>
						<v-spacer></v-spacer>
					</v-flex>
					<v-flex md6>
						<h3>Total Tasks: {{ totalTasks }}</h3>
						<h3>Completed: {{ completed }}</h3>
					</v-flex>
				</v-row>
				<v-col>
					<v-simple-table class="mylist">
						<template v-slot:default>
							<tbody>
								<tr v-for="(todo, i) in todos" :key="todo.id">
									<td class="py-0 my-0">
										<v-btn class="" text icon color="amber darken-2">
											<v-icon
												dark
												v-if="todo.status"
												@click.prevent="toggle(i, $event)"
												>mdi-checkbox-marked-circle</v-icon
											>
											<v-icon
												dark
												v-if="!todo.status"
												@click.prevent="toggle(i, $event)"
												>mdi-checkbox-blank-circle-outline</v-icon
											>
										</v-btn>
									</td>
									<td>
										<v-text-field
											solo
											v-model="todo.task"
											@keyup.enter="update(todo, $event)"
											:value="todo.task"
											class="mt-5 inp"
										></v-text-field>
									</td>

									<td>
										<v-btn
											@click.prevent="deleteTodo(todo, $event)"
											text
											icon
											dark
											color="red"
										>
											<v-icon>mdi-delete</v-icon>
										</v-btn>
									</td>
								</tr>
								<tr>
									<td>
										<v-btn
											@click.prevent="addTodo($event)"
											fab
											small
											dark
											color="amber darken-2"
										>
											<v-icon dark>mdi-plus-circle</v-icon>
										</v-btn>
									</td>
									<td>
										<v-text-field
											solo
											placeholder="Add a new goal"
											@keyup.enter="addTodo($event)"
											v-model="newTask"
											class="mt-5 inp"
										></v-text-field>
									</td>
								</tr>
							</tbody>
						</template>
					</v-simple-table>
				</v-col>
			</v-container>
		</v-content>
	</div>
</template>

<script>
import { todosList, dbs } from "../utils/firebase";
const Vue = {
	name: "TodoApp",
	data() {
		return {
			todos: [],
			newTask: "",
			title: "Todo App"
		};
	},
	mounted() {
		let self = this;
		dbs.ref("todos").on("value", function(snapshot) {
			let init = {
				id: 0,
				task: "Einkaufen",
				status: false
			};
			let obj = snapshot.val();

			if (obj && Object.keys(obj).length > 0) {
				let tempArr = Object.keys(obj).map(key => obj[key]);
				self.todos = tempArr.sort(self.compare);
			}
		});
	},
	computed: {
		today() {
			const date = `${new Date().getDate()}.${new Date().getMonth() +
				1}.${new Date().getFullYear()}`;
			return date;
		},
		completed() {
			let completedTasks = this.todos.filter(todo => todo.status === true)
				.length;
			return completedTasks;
		},
		totalTasks() {
			let totalTasks = this.todos.length;
			return totalTasks;
		}
	},
	methods: {
		addTodo(event) {
			if (!this.newTask) {
				return alert("Please enter a task");
			}
			let myId = 1;
			if (this.todos.length > 0) {
				myId = this.todos[this.todos.length - 1].id + 1;
			}

			let user = Math.random()
				.toString()
				.substr(2, 10);
			const newData = {
				id: myId,
				refId: user,
				task: this.newTask,
				status: false
			};
			dbs.ref("todos/" + user).set(newData);
			// this.todos.push(newData);

			this.newTask = "";
		},
		deleteTodo(todo, event) {
			this.todos = this.todos.filter(item => item != todo);
			dbs
				.ref("todos")
				.child(todo.refId)
				.remove();
		},
		toggle(i, event) {
			if (!this.todos[i].status) {
				dbs.ref("todos/" + this.todos[i].refId).update({ status: true });
				this.todos[i].status = true;
			} else {
				this.todos[i].status = false;
				dbs.ref("todos/" + this.todos[i].refId).update({ status: false });
			}
		},
		compare(a, b) {
			let comparison = 0;
			if (a.id > b.id) {
				comparison = 1;
			} else if (a.id < b.id) {
				comparison = -1;
			}
			return comparison;
		},
		update(todo, event) {
			dbs.ref("todos/" + todo.refId).update({ task: todo.task });
		}
	}
};
export default Vue;
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2,
h3,
p,
input,
.headline,
.inp {
	font-family: "Montserrat", sans-serif !important;
	caret-color: #e9a423 !important;
}
.mylist {
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}
</style>
