/* eslint-disable */
<template>
	<div id="app">
		<v-app>
			<div>
				<v-app-bar dark dense color="amber darken-2">
					<v-icon @click="showMenu(false)" v-if="menuShown">mdi-menu</v-icon>
					<v-icon @click="showMenu(true)" v-if="!menuShown"
						>mdi-arrow-left</v-icon
					>
					&nbsp; &nbsp;
					<v-tabs v-if="!menuShown">
						<v-tab>
							<router-link class="link" to="/">Home</router-link>
						</v-tab>
						&nbsp; &nbsp;
						<v-tab>
							<router-link class="link" to="/about">About</router-link>
						</v-tab>
					</v-tabs>
					<v-spacer></v-spacer>
					<v-toolbar-title v-if="menuShown" class="headline">
						Todo App
					</v-toolbar-title>
				</v-app-bar>
			</div>
			<router-view></router-view>
		</v-app>
	</div>
</template>

<script>
import NavBar from "@/components/NavBar";
import TodoList from "@/components/TodoList";
import About from "@/components/About";

export default {
	name: "App",
	data() {
		return {
			menuShown: true
		};
	},
	methods: {
		showMenu(bool, $ev) {
			this.menuShown = bool;
		}
	},
	components: { TodoList, About }
};
</script>

<style>
h1,
h2,
h3,
p,
input,
.headline,
.inp {
	font-family: "Montserrat", sans-serif !important;
	caret-color: #e9a423 !important;
}
#app {
	font-family: "Montserrat", "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
.link {
	text-decoration: none;
}
</style>
